{% extends "base_generic.html" %}

{% block title %}
<title>New Title</title>
{% endblock %}

{% block content %}
  <h1>Local Library</h1>
  <p>
    Welcome to LocalLibrary, where you can find books related to almost all the 
    <em>Genre out there!</em>!
  </p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Books with specific word:</strong> {{ books_with_particular_word }}</li>
    <li><strong>Genre with specific word:</strong> {{ genre_with_particular_word }}</li>
  </ul>
{% endblock %}
